include partials/header

.content.mygames
    ul.uk-breadcrumb
        li
            a(href='/my-games') My Games
        li
            a(href='/my-games/' + gameSlug) #{gameData.name}
        li
            a(href='#') #{title}

    .subheader
        h1 #{title}

    .gameContent
        each student, index in studentData
            table.uk-table
                caption #{student.firstname} #{student.lastname}
                thead
                    tr
                        th Word
                        th Times Incorrect
                tbody
                    each timesWrong, word in gameResultsData[index] 
                        tr
                            td #{word}
                            td #{timesWrong}


include partials/footer