include partials/header

.content.mygames
    ul.uk-breadcrumb
        li
            a(href='/games') Games
        li
            a(href='/games/' + gameSlug) #{gameData.name}
        li
            a(href='#') #{title}

    .subheader
        h1 #{title}

    .gameContent
        table.uk-table
            thead
                tr
                    th Word
                    th Times Incorrect
            tbody
                each timesWrong, word in gameResultsData 
                    tr
                        td #{word}
                        td #{timesWrong}


include partials/footer