include partials/header

- var isMath = gameData.gametype == 'math' 
- var isSpelling = gameData.gametype == 'spelling' 

.content.mygames
    ul.uk-breadcrumb
        li
            a(href='/games') Games
        li
            a(href='/games/' + gameSlug) #{gameData.name}
        li
            a(href='#') #{title}

    .subheader
        h1 #{title}

    .gameContent
        if isSpelling
            table.uk-table
                thead
                    tr
                        th Word
                        th Times Incorrect
                tbody
                    each timesWrong, word in gameResultsData 
                        tr
                            td #{word}
                            td #{timesWrong}

        else if isMath
            table.uk-table
                thead
                    tr
                        th Problems
                        th Times Correct
                tbody
                    each timesWrong, problem in gameResultsData 
                        tr
                            td #{problem}
                            td #{timesWrong}


include partials/footer