include partials/header

- var isMath = gameData.gametype == 'math' 
- var isSpelling = gameData.gametype == 'spelling' 

.content.mygames
    ul.uk-breadcrumb
        li
            a(href='/my-games') My Games
        li
            a(href='/my-games/' + gameSlug) #{gameData.name}
        li
            a(href='#') #{title}

    .subheader
        h1 #{title}

    .gameContent
        if isSpelling 
            each student, index in studentData
                table.uk-table
                    caption #{student.firstname} #{student.lastname}
                    thead
                        tr
                            th Word
                            th Times Incorrect
                    tbody
                        each timesWrong, word in gameResultsData[index] 
                            tr
                                td #{word}
                                td #{timesWrong}
        else if isMath
            each student, index in studentData
                table.uk-table
                    caption #{student.firstname} #{student.lastname}
                    thead
                        tr
                            th Word
                            th Times Correct
                    tbody
                        each timesWrong, problem in gameResultsData[index] 
                            tr
                                td #{problem}
                                td #{timesWrong}

include partials/footer